# Python
__pycache__/
*.py[cod]
*.pkl

# VS Code
.vscode/

# Jupyter notebook checkpoint
.ipynb_checkpoints/

# Logs
*.log

# OS files
Thumbs.db
.DS_Store

# Virtual env
venv/
env/
.env

# Model weights
*.pt
*.h5

app/models
